/*** General ***/

html {
  width: 100%;
  height: 100%;
  display: table;
}

/* Fade in */
html.loading {
  background: url('data:image/gif;base64,R0lGODlhEAAQAPECALe1rXd1bP///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFBQACACwAAAAAEAAQAAACMJQvAMio2g58KwRGU7VXPsR1XmM5S2SUWRSuJKehqRgzpQkdIb5Au6nx0TAf2ahRAAAh+QQFBQACACwGAAIACAAOAAACFJQNcJh67V5ctNqLbwh07+VxoHgUACH5BAUFAAIALAIABgAOAAgAAAIUlI8CkL3b0GPxQBFCPTlv3H2gWAAAIfkEBQUAAgAsAAAGAA4ACAAAAhRUIqlrh7zcg+rQSwHASWvubeBWAAAh+QQFBQACACwCAAIACAAOAAACFFQimXdq7F6ctNqLEwBxb+dxIFcAACH5BAUFAAIALAIAAAAIAA4AAAIUlB1xmHrtXly02osvAHTv5XGgeBQAIfkEBQUAAgAsAAACAA4ACAAAAhSUjxKRvdvQY/FAAUA9OW/cfaBYAAAh+QQFBQACACwCAAIADgAIAAACFBQgqWuHvNyD6tBLQ8BJa+5t4FYAADs=') no-repeat calc(50% - 20px) center;
}
html.loading:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: 'Loading...';
  font: normal 14px Calibri, sans-serif;
  line-height: 1;
  margin-left: 22px;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
html.loaded {
  animation: fade-in 0.3s forwards;
}
@keyframes fade-in {
  from { background-color: #fff; }
  to { background-color: #d8be7f; }
}

body {
  width: 100%;
  display: table-cell;
  font: normal 16px/1 Calibri, Arial, sans-serif;
  margin: 0px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
}

:focus {
  outline: none;
}

a {
  cursor: pointer;
}
a:hover,
a:focus {
  color: #b00;
}
a:active {
  color: #e00;
}
a:hover img {
  -webkit-filter: brightness(0.85);
  filter: brightness(0.85);
}
a.link,
picture {
  display: inline-block;
}

select {
  width: 114px;
  background: none;
  border: none;
  cursor: pointer;
}

#app {
  display: table;
  opacity: 0; /* Prevent FOUC */
  margin: 0px auto;
  text-align: center;
}
html.loaded #app {
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
#app > p {
  font-size: 110%;
  margin: 5%;
}
#app > p > strong {
  color: #b8860b; /* darkgoldenrod */
  font-size: 72px;
}
#app > table {
  margin: 0px auto;
}

/*** Buttons ***/
/* Based on CSS generated by CSSButtonGenerator.com */

.button {
  -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
  background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color: #77d42a;
  border: 1px solid #268a16;
  border-radius: 6px;
  color: #303108;
  cursor: pointer;
  display: inline-block;
  font: bold 12px/1.4 'Trebuchet MS', Arial, sans-serif;
  padding: 6px 9px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #aade7c;
  white-space: nowrap;
}
.button:not([disabled]):hover,
.button:not([disabled]):focus {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
  background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  background-color: #5cb811;
}
.button:active {
  position: relative;
  top: 1px;
}

.obutton {
  -webkit-box-shadow: inset 0px 1px 0px -2px #fff6af;
  box-shadow: inset 0px 1px 0px -2px #fff6af;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border: 1px solid #ffaa22;
  border-radius: 6px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font: bold 12px/1.4 'Trebuchet MS', Arial, sans-serif;
  padding: 6px 6px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffee66;
  white-space: nowrap;
}
#letters .obutton {
  width: 32px;
  height: 32px;
  line-height: 32px;
  padding: 0px;
  text-align: center;
}
.obutton:not([disabled]):hover,
.obutton:not([disabled]):focus {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.obutton:active {
  position: relative;
  top: 1px;
}

.button[disabled],
.obutton[disabled] {
  cursor: default;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.buttons {
  margin-top: 1rem;
  text-align: center;
}

.mark .button,
.mark .obutton {
  width: 90%;
  font-size: calc(10px + 0.15vw);
}

/*** Game Table ***/

#board {
  display: table-cell;
  padding-right: 4px;
}

table.board {
  table-layout: fixed;
}
table.board td {
  background-color: #e0e0b0;
}
table.board td.ST,
table.board td.DL,
table.board td.DW,
table.board td.TL,
table.board td.TW {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 87%;
}

/* Scalable square cells - https://stackoverflow.com/a/22835903/452587 */
table.board td,
#drag .opponent td[id],
#drag .player td[id] {
  position: relative;
  width: 6.666666666666667%; /* 100 / 15 */
  min-width: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px;
}
table.board td:after,
#drag .opponent td[id]:after,
#drag .player td[id]:after {
  content: '';
  display: block;
  margin-top: calc(100% + 1px);
}
table.board td .drag,
#drag .opponent td[id] .drag,
#drag .player td[id] .drag {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}

/* Drag container */

#drag {
  width: calc(100vh - 12vw);
  min-width: 530px;
  background: #3a3a3a;
  border-radius: 4px;
}
#drag img {
  margin: 1px;
}
#drag > table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}
#drag td {
  border: 1px solid #fff;
}

/* Racks */
#drag .opponent,
#drag .player {
  margin: 0px auto;
}
#drag .opponent td,
#drag .player td {
  border: none;
}
#drag .player td:last-child {
  padding-right: 4px;
}
#drag .opponent td .drag {
  background-color: #e7ab83;
  color: #e7ab83;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
#drag .opponent td.on .drag,
#drag .opponent td .drag[style] {
  background-color: #fff;
  color: #000;
}
#toggle {
  width: 96%;
  min-width: 138px;
}

#redips_clone {
  display: none;
}

/* Drag objects (tiles) */

.drag {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 18px;
  font-size: calc(14px + 0.3vw);
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 1.1;
  opacity: 0.9;
  text-align: center;
  z-index: 10;
}
.human-computer .drag.t1 {
  cursor: move;
}

/* Tile points */
.drag sup {
  margin-top: -33%;
}
.drag sup > small {
  font-size: 10px;
  letter-spacing: -1px;
  margin-left: 1px;
}

/* Drag objects border for the first table */
.t1 {
  border: 2px solid #499b33;
}

/* Drag object border for the second table */
.t2 {
  border: 2px solid #cd5c5c; /* indianred */
}

.tile {
  width: 41px;
  height: 42px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px;
}
.tile .drag {
  height: 100%;
}

/* Swap modal */
#swaptable td {
  cursor: pointer;
}
#swaptable td.to-swap .drag {
  background: #1a1a1a;
  border-color: #be74d2;
  color: #fff;
}

/*** Game Info ***/

#score {
  position: relative;
  min-width: 284px;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7fef7), to(#fafafa));
  background: linear-gradient(#f7fef7, #fafafa);
  border-radius: 4px;
  display: table-cell;
  vertical-align: top;
}
#score .container {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-flow: column;
  padding: 0px 2px;
}
#score h1 {
  height: 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 26px;
  margin: 0px;
  padding: 0.5rem;
}
#score h1 img {
  width: 24px;
  margin-right: 4px;
  vertical-align: bottom;
}
#score h1 sup { /* beta */
  color: #999;
  font-size: 12px;
  font-weight: normal;
  line-height: 22px;
  margin-left: -2px;
  vertical-align: text-top;
}
#score h1 .opponent {
  color: #cd5c5c;
}
#score h1 .player {
  color: #499b33;
}
#score h2 {
  height: 20px;
  background: #f5f5dc; /* beige */
  color: #c39b3c; /* page bg color luminosity 50% */
  font-size: 16px;
  line-height: 20px;
  margin: 0px;
  text-transform: uppercase;
}
#score table.gameinfo {
  width: 100%;
  border-collapse: collapse;
  text-align: right;
}
#score table.gameinfo td:first-child {
  padding-left: 4px;
}
#score table.gameinfo td:last-child {
  padding-right: 4px;
}

#score tr {
  height: 21px;
}
#score tr.highlight {
  background: #fefeba;
}
#score tr.level {
  height: 30px;
}
#score tr.ruler {
  height: 2px;
  background: #adadad;
}

#history {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  font-size: 14px;
  overflow: auto;
  padding: 4px;
  text-align: left;
}
#history table {
  width: 100%;
  border-collapse: collapse;
}
#history tr.player-0 {
  color: #499b33;
}
#history tr.player-1 {
  color: #cd5c5c;
}
#history td:first-child {
  width: 99%;
}
#history img {
  display: block;
  margin: 3px 0px 0px 10px;
}

#level {
  width: 31px;
  cursor: help;
  display: inline-block;
  font: normal 28px/1 'Trebuchet MS', sans-serif;
  letter-spacing: -1px;
  text-align: left;
}
a.down img {
  -ms-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

#oscore,
#pscore {
  font-weight: bold;
}

#footer {
  height: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.8;
  padding: 0.5rem;
}

/* Modal */
#modal-mask,
#modal-container {
  position: fixed;
  left: 0px;
  width: 100%;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#modal-mask {
  top: 0px;
  height: 100%;
  background: #000;
  z-index: 200;
}
#modal-mask.on {
  opacity: 0.7;
}
#modal-container {
  top: 50%;
  text-align: center;
  z-index: 201;
}
#modal-container.on {
  opacity: 1;
}
#modal-content {
  position: relative;
  min-width: 240px;
  max-width: 480px;
  background: #fff;
  border-left: 1px solid rgba(0,0,0,0.9);
  border-bottom: 1px solid rgba(0,0,0,0.9);
  border-right: 1px solid rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem;
  text-align: left;
}
#modal-content:before {
  position: absolute;
  top: -13px;
  left: -1px;
  width: 100%;
  height: 10px;
  background: #99b;
  border-top: 1px solid #78a3f2;
  border-left: 1px solid #78a3f2;
  border-bottom: 2px solid #000;
  border-right: 1px solid #204095;
  content: '';
}

/* VDict */
#suggestresult,
#wordresult {
  font-size: 95%;
  -ms-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}
#suggestresult > ul {
  margin-top: 0px;
}
#suggestresult #suggestionlist {
  list-style: none;
  padding: 0px;
}
#wordresult h1 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 10px;
}
#wordresult ul {
  padding-left: 1rem;
}
#wordresult ul.list2 {
  color: #666;
  margin-top: 4px;
}
#wordresult li > b {
  font-weight: normal;
}
#wordresult .example-original {
  font-style: italic;
}
#wordresult .phanloai {
  background: #e6e6e6;
  border-radius: 4px;
  display: block;
  font-weight: bold;
  margin: 6px 0px;
  padding: 6px;
}
#wordresult #play {
  width: 24px;
  height: 24px;
  background: url(../pics/play.svg) no-repeat;
  background-size: 24px;
  display: inline-block;
  margin-left: 4px;
  vertical-align: text-bottom;
}
#wordresult #play:hover {
  -webkit-filter: brightness(0.85);
  filter: brightness(0.85);
}
#wordresult #play span {
  display: none;
}