---
---

@import "{{ site.theme }}";

/* THEME OVERRIDES */

body {
  background: #eeeed6;
}

header {
  border-bottom-color: #a58231;
  opacity: 0; /* Prevent FOUC */
  &.loaded {
    opacity: 1;
    transition: opacity 0.3s;
  }
  h1 {
    color: #8d702a;
    font-size: 70px;
    img {
      filter: brightness(0.65);
    }
  }
  h2 {
    color: #a58231;
  }
}

a {
  &.button {
    &:hover,
    &:focus {
      filter: hue-rotate(45deg);
    }
  }
}

#play {
  width: 202px;
  height: 78px;
  background: url(../images/button.png) no-repeat;
  display: block;
  font-size: 36px;
  line-height: 78px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  header {
    a {
      &.button {
        background-color: #b99337;
        color: #fff;
      }
    }
  }
}