---
---

@import "{{ site.theme }}";

/* THEME OVERRIDES */

body {
  background: #eeeed6;
}

header {
  h1 {
    color: #3a3a3a;
    font-size: 70px;
  }
  h2 {
    color: #b99337;
  }
}

a {
  &.button {
    &:hover,
    &:focus {
      filter: hue-rotate(45deg);
    }
  }
}

#play {
  width: 202px;
  height: 78px;
  background: url(../images/button.png) no-repeat;
  display: block;
  font-size: 36px;
  line-height: 78px;
  padding: 0;
  text-align: center;
}